[Unit]
Description=Minecraft Server
Documentation=

Wants=network.target
After=network.target

[Service]
User=minecraft
Group=minecraft
Nice=5
EnvironmentFile=-/var/minecraft/unit.conf
KillMode=none
SuccessExitStatus=0 1

ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
PrivateTmp=true
InaccessibleDirectories=/root /sys /srv -/opt /media -/lost+found
ReadWriteDirectories=/var/minecraft/server
WorkingDirectory=/var/minecraft/server
ExecStart=/usr/bin/java -Xmx6G -Xms5G -jar /var/minecraft/server/spigot.jar --noconsole --world-container /var/minecraft/universe --plugins /var/minecraft/plugins --commands-settings /var/minecraft/config/commands.yml --spigot-settings /var/minecraft/config/spigot.yml --bukkit-settings /var/minecraft/config/bukkit.yml --config /var/minecraft/config/server.properties --log-append true
ExecStop=/var/minecraft/util/rcon-stop-server.sh "default"
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
